In [3]:
import pandas as pd

ModuleNotFoundError: No module named 'pandas'

In [ ]:
df1 = pd.read_csv('model1.csv', index_col = 0)
df2 = pd.read_csv('model4.csv', index_col = 0)

In [ ]:
df_combine = pd.concat([df1, df2],axis=1, )
df_combine = df_combine.mode(axis=1).dropna(axis=1)

In [4]:
df_combine = df_combine.astype('int32')
df_combine.columns = ['Category']
df_combine

      Category
Id
0            0
1           10
2            0
3            9
4            7
...        ...
3342         2
3343         8
3344         3
3345         0
3346         9

[3347 rows x 1 columns]

In [ ]:
df_combine.to_csv('Ensemble1.csv',index=True)

(kaggle public 0.83094)

# References

I use the sample code from TA for this course, and reference the official documentation https://pytorch.org/vision/stable/transforms.html